@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

@layer utilities {
  .list-image-checkmark {
    /* list-style-image: theme("listStyleImage.checkmark"); */
  }
}

@layer base {
  @font-face {
    font-family: "RobotoRegular";
    src: local("Roboto-Regular"),
      url("./assets/fonts/Roboto/Roboto-Regular.ttf");
  }

  @font-face {
    font-family: "RobotoMediumItalic";
    src: local("Roboto-MediumItalic"), url("./assets/fonts/Roboto/");
  }

  :root {
    --font-robotoregular: "RobotoRegular";
    --font-robotomediumitalic: "RobotoMediumItalic";
  }

  html,
  body {
    @apply h-full;
  }

  body {
    @apply m-0 p-0 w-full bg-[#151D2A];
  }
}
